table{
    position: relative;
    top:20px;
    width: 100%;
    border-color:black;
    border-radius: 8px;
    border: 0;
    padding: 40px;
    background-color: antiquewhite;
}
table tr,td,th{
    padding: 5px;
    
}

.btn{
background-color:red ;
color: white;
padding: 5px;
}
.btn:hover{
    background-color: black;
    color: white;
}


table a:hover{
    color:red;

}

table td {
width: 100%;
}
table th {
    width: 50%;
    }




