table .inside{
    display: flex;
    flex-direction: row;
}
table tr{
    display: flex;
    flex-direction: row;
}

table{
    width: 100%;
    position: relative;
    left: 0px;
}
table td{
    width: 100%;
}
table th{
    width: 100%;
}