.login {
    background-color: red;
    padding: 21px;
    margin: 0%;
    display: flex;    
    text-decoration: none;
    border-radius: 20px;
}


.navtext {
    color: white;
    padding: 12px;
    font-weight: 500;
    display: flex;
    font-size: 17px;
}
.navtext ul {
    list-style: none;
    padding: 0;
}
.login .menu {
    list-style-type: none;
}

.login ul .menu {
    color: white;
    text-decoration: none;
    padding-right:20px ;
}
.navtext ul .menu:hover {
    /* background-color: black;*/
     padding: 15px;
     border-radius: 20px;
     text-decoration: underline;
     text-decoration-color: rgb(0, 0, 0); 
     text-decoration-thickness: 3px; 
     margin-top: 2px;
     transition-duration: 0.4s;
 }


 

.loginreg{
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    position:absolute;
    top:25px;
    right:23px;
    text-decoration: none;
    font-size: large;

}

header .login .loginreg:hover {
    color:yellow;
    transition-duration:1s ;

}


* {
    margin: 0%;
    padding: 0%;
}

#search{
    height:50px;
    
}

.td1{
    padding-left:25px;
}

.td {
   padding-left:120px;
}

.in {
    position:absolute;
    left:560px;
    text-align:left;
    padding-left:120px;
}

.form-container #submit {
    height: 40px;
    width: 95px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 25px; 
    display: block; 
    position:relative;
    left:350px;
}

.topic #submit:hover {
    background-color: rgb(43, 42, 42); 
}
#e{
    position:absolute;
    left:170px;
}
#e1{
    position:absolute;
    left:450px;
}
#e2{
    position:absolute;
    left: 780px;
}
#e3{
    position:absolute;
    left:1070px;
}
#search{
    height:50px;
    padding-left: 100px;
    padding-right: 100px;
    
}
#photo{
    position:absolute;
    top:20px;
    left:500px;
    height: 60px;
    width:60px;
}
#a {
    text-align: left;
    color: white;
    position:absolute;
    top:30px;
    left:570px;
}

h1 {
    display: inline-block; 
    margin: 0; 
}

header .login .log {
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    position:absolute;
    top:25px;
    right:80px;
    text-decoration: none;
    height: 50px;
    font-size: large;  
}
header .login .log:hover {
    color:yellow;
    transition-duration:1s ;
}

.column2 {
    background-color: white;
    padding: 10px;
    margin: 0px;
}

.column3 {
    display:flex;
    flex-direction:inline;
    padding: 20px;
}

.column3 a {
    text-decoration: none;
    color: black;
    padding: 15px 50px;
    border-radius: 10px;
}
.column3 nav ul{
    display:flex;
    flex-direction:inline;
}

.topic {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.footer a {
    margin: 50px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 50px;
    border-radius: 15px;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

footer {
    background-color: black;
}

.footer a:hover {
    background-color: gray;
}



.form-container {
    background-color: #f8f8f8; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-container h1 {
    margin-bottom: 20px; 
    color: #333; 
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container input[type="password"],
.form-container select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 5px; 
    margin-top: 30px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-sizing: border-box;
    padding: 10px;
}

.form-container button{
    width: 100%; 
    padding: 10px; 
    background-color: #007bff;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.form-container button:hover {
    background-color: #0056b3; 
}

footer {
    background-color: black;
    color: white;
    padding: 120px 0;
    text-align: center;
}

.footer a:hover {
    background-color: gray;
}


.form-container {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container input[type="password"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

footer {
    background-color: black; 
    color: white; 
    padding: 20px; 
    text-align: center;
    display:flex;
    flex-direction:inline;
}

.footer-section ul {
    list-style-type: none; 
    padding: 0; 
   
}

.footer-section ul li {
    margin-bottom: 40px; 
}


.footer-section ul li a {
    position:relative;
    top:55px;
    left:10px;
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease; 
   
}
.call{
    position:absolute;
    left:150px;
}

.footer-section{
    height:250px;
    width:90%;

}
.footer-section ul li a:hover {
    color: grey; }

#foot{
    background-color: grey;
    padding: 12px;
    color:white;
    text-align: center;
}